body { 
  font-family: Arial, Helvetica, sans-serif;
  color: #cecece;
  background: #222;
}
h1 {
  color: #cecece;
  text-align: center;
}
.animated-text {
  position: absolute;
  background-color: coral;
  transform: translate(-50%,-50%);
  padding: 0px 40px;
  height: 60px;
  top: 50%;
  left: 50%;
  overflow: hidden;
}
.line {
  font-size: 40px;
  line-height: 60px;
}
.line:first-child {
  animation: anim 10s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  83%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}